/* Define todo o site */

* {

    box-sizing: border-box;

}

/* Define todo o site */

/* Cabeçalho */

header {

    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 230, 0);
    height: 80px;

}

header a {

    height: min-content;

}

#listras {

    width: 35px;

}

#logo {

    width: 150px;
    margin-top: 13px;

}

#pesquisa {

    width: 35px;

}

/* Fim cabeçalho */

/* Corpo */

body {

    margin: 0px;

}

/* Área Categorias */

#tituloCategorias {

    text-align: center;

}

.categorias {

    display: flex;
    flex-wrap:wrap;
    margin-right: 20px;
    margin-left: 20px;

}

.categorias2 {

    width: 165px;
    height: 165px;
    border: 3px solid rgb(255, 0, 0);
    border-radius: 165px;
    overflow: hidden;
    background-color:black;
    margin: 23px;
    
}

.categorias2:hover {

    border: 5px solid rgb(255, 30, 0);

}

.fotoCategorias {

    width: 159px;

}

.fotoCategorias:hover {

    width: 154px;

}

h3 {

    margin: 23px;
    width: 165px;
    text-align: center;

}

/* Fim área Categorias */

/* Área de Produtos */

.maisVendidos h1 {

    margin-top: 50px;
    font-size: 30pt;
    text-align: center;
    margin-bottom: 50px;

}

.produto {

    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 150px;

}

.produto h2 {

    font-size: 20pt;

}

.produto p {

font-size: 12.5pt;

}

.tipo1 {

    width: 350px;

}

.tipo2 {

    text-align: center;
    width: 500px;

}

.fotoProduto {

width: 400px;

}

.produtoComprar {

    border: 0px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 10pt;
    width: 80px;
    height: 30px;

}

.produtoComprar:hover {

    width: 82px;
    height: 32px;

}

/* Produtos Recomendados */

#produtosRecomendados h1 {

    text-align: center;

}

.recomendados {

    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;

}

#recomendados1 {

    border: 1px solid rgba(66, 66, 66, 0.911);
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 200px;
}

#recomendados2 {

    border: 1px solid rgba(66, 66, 66, 0.911);
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 200px;
}

#recomendados3 {

    border: 1px solid rgba(66, 66, 66, 0.911);
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 200px;
}

#duvidas h1 {

    text-align: center;

}

#duvidas p {

    text-align: center;

}

/* Fim recomendados */

/* Fim área de Produtos*/

/* Fim do Corpo */

/* Rodapé */

.rodape {

    background-color: rgb(255, 230, 0);

}

.rodape a {

    color: black;
    text-decoration: none;

}

.rodape a:hover {

    text-decoration: underline;

}

#termosEinformacoes {

    padding-top: 20px;
    margin-right: 350px;
    display: flex;
    justify-content: space-around;
    

}

#cadastroEmidias {

    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-right: 200px;

}

#cadastroEmidias img {

    width: 20px;
    margin-right: 7px;

}

#creditos {

border-top: 1px solid rgba(0, 0, 0, 0.432);

}

#creditos p {

    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: center;

}
