/* Define todo o site */

* {

    box-sizing: border-box;

}

/* Define todo o site */

/* Cabeçalho */

header {

    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 182, 46, 0.849);
    height: 80px;

}

#listras {

    width: 35px;

}

#logo {

    width: 150px;

}

#pesquisa {

    width: 35px;

}

/* Fim cabeçalho */

/* Corpo */

body {

    margin: 0px;

}

/* Área Categorias */

#tituloCategorias {

    text-align: center;

}

.categorias {

    display: flex;
    flex-wrap:wrap;
    margin-right: 20px;
    margin-left: 20px;

}

.categorias2 {

    width: 165px;
    height: 165px;
    border: 3px solid rgb(255, 182, 46);
    border-radius: 165px;
    overflow: hidden;
    background-color:black;
    margin: 23px;
    
}

.categorias2:hover {

    border: 5px solid rgb(255, 182, 46);
 
}

.fotoCategorias {

    width: 161px;

}

.fotoCategorias:hover {

    width: 157px;

}

h3 {

    margin: 23px;
    width: 165px;
    text-align: center;

}

/* Fim área Categorias */

/* Área de Produtos */

.produtos div {

    display: flex;

}

.fotoProduto {

width: 200px;

}

.produtoComprar {

    border: 0px;
    background-color: black;
    color: white;
    font-size: 10pt;
    width: 80px;
    height: 30px;

}

.produtoComprar:hover {

    width: 82px;
    height: 32px;

}

/* Fim área de Produtos*/

/* Fim do Corpo */